/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* VARIABLES */

:root {

    /* COLORS */
    --PRIMARY_FONT_COLOR: #fff;
    --SELECTION_COLOR: #8F00FF;

    /* FONTS */

    --DEFAULT_SIZE: 1.5rem;

    /* PADDING & MARGIN */

    --DEFAULT_PADDING: 1rem;
    --DEFAULT_MARGIN: 1rem;

}

body {
    font-family: Arial, sans-serif;
}


/* CLASSes STYLE */


.news-container {
    align-items: center;
    bottom: 0;
    box-shadow: inset 10px 10px 200px black;
    display: flex;
    justify-content: center;
    padding: var(--DEFAULT_PADDING);
    position: absolute;
    width: 100%;
}


.nav-btn {
    background: transparent;
    border-radius: 50%;
    border: 2px solid var(--PRIMARY_FONT_COLOR);
    color: var(--PRIMARY_FONT_COLOR);
    cursor: pointer;
    font-size: 18px;
    padding: var(--DEFAULT_PADDING);
}

.news-titles {
    column-count: 4;
    column-rule: 5px solid var(--PRIMARY_FONT_COLOR);
    overflow: hidden;
    width: 100%;
}

.news-item {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--PRIMARY_FONT_COLOR);
    cursor: pointer;
    display: -webkit-box;
    font-size: var(--DEFAULT_SIZE);
    font-weight: 500;
    height: 5em;
    line-height: 2em;
    overflow: hidden;
    padding: var(--DEFAULT_PADDING);
}


.news-item.selected {
    border-bottom: 10px solid var(--SELECTION_COLOR);
}

.news-display {
    background-color: rgba(143, 0, 255, 0.9);
    border-radius: 10px;
    color: var(--PRIMARY_FONT_COLOR);
    left: 5%;
    padding: 3rem;
    position: absolute;
    text-align: left;
    top: 30%;
    transform: translateY(-50%);
    width: 40%;
}

/* IDs STYLE */

#news-img {
    background-position: center;
    background-size: cover;
    height: 101vh;
    position: relative;
    width: 100vw;
}

#news-title {
    font-size: 2rem;
    margin-bottom: var(--DEFAULT_MARGIN);
    width: 70%;
}

#news-desc {
    font-size: var(--DEFAULT_SIZE);
    margin-top: var(--DEFAULT_MARGIN);
}

#news-btn {
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--DEFAULT_SIZE);
    font-weight: bold;
    margin-top: var(--DEFAULT_MARGIN);
    padding: var(--DEFAULT_PADDING) 1.5rem;
}